.footer-wrapper {
    display: flex;
    height: 350px;
    margin-top: auto;
    background-color: azure;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }
  
  .footer-text-container {
    max-width: 500px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .footer-icons {
    margin-top: 2.0rem;
    margin-left:10px;
  }
  .footer-icons svg {
    font-size: 1.6rem;
    margin-left: 0.5rem;
    color: black;
  }
  
  .footer-icons svg:hover {
    transform: scale(1.3);
    color: yellowgreen;
  }
  
  .footer-section-one {
    display: flex;
  
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .footer-section-add {
    display: flex;
    flex-direction: row;
    margin-left:40px;
    justify-content: center;
    align-items: center;
    max-width:500px;
  }
  
  .footer-section-two {
    flex: 1;
    display: flex;
    margin-right: auto;
    justify-content: flex-end;
  }
  .footer-section-columns {
    display: flex;
    flex-direction: column;
    min-width: 190px;
  }
  .footer-section-columns span {
    margin: 0.25rem 6rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
  }
  
  .primary-subheading1 {
    font-weight: 700;
    font-size: clamp(1.2rem, 4vw, 8rem);
    color: black;
  }
  
  @media (max-width: 800px) {
    .footer-wrapper {
      flex-direction: column;
      height: auto;
    }
    .footer-section-one {
      margin-top: 3rem;
    }
  
    .footer-section-add {
      margin-top: 0rem;
      margin-left: 0rem;
    }
    .footer-section-two {
      flex-direction: column;
      margin-top: 2rem;
      margin-left: 3rem;
      margin-bottom: 2rem;
    }
    .footer-section-columns {
      margin: 1rem 0rem;
    }
  }